<template>
  <div class="container">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(submit)">

          <card class="card-login animate__animated animate__backInUp">

            <!-- LOGO / TITULO MOEDA -->
            <div style="padding-bottom: 20px" class="card-header">
              <h1 class="text-center card-title" style="color: #0c7541">Moeda</h1>
            </div>

            <div>
              <!-- INPUT EMAIL -->
              <ValidationProvider>
                <base-input
                  required
                  v-model="email"
                  placeholder="Email"
                  addon-left-icon="tim-icons icon-email-85"
                  class="bg-dark mt-2 text-center"
                ></base-input>
              </ValidationProvider>
              <!-- INPUT PASSWORD -->
              <ValidationProvider
                name="password"
                rules="required|min:5"
                v-slot="{ passed, failed, errors }"
              >
                <base-input
                  required
                  v-model="password"
                  placeholder="Senha"
                  addon-left-icon="tim-icons icon-lock-circle"
                  type="password"
                  :error="errors[0]"
                  :class="[{ 'has-success': passed }, { 'has-danger': failed }]"
                  class="bg-dark mt-2 text-center"
                ></base-input>
              </ValidationProvider>
            </div>
            
            <!-- BOTAO DE ENTRAR E SPINNER -->
            <div class="text-center" slot="footer">
              <base-button v-if="!loading" @click="logar" type="primary" class="mb-1" size="lg" block>Entrar</base-button>
              <img v-if="loading" src='../../assets/images/spinner.gif' class=" w-50" />
              
              <!-- CRIAR CONTA -->
              <div class="pull-left">
                <h6>
                  <!-- <router-link class="link footer-link" to="/register">Criar Conta</router-link> -->
                </h6>
              </div>
              <!-- RECUPERAR SENHA -->
              <div class="pull-right">
                <h6>
                  <!-- <a href="#pablo" class="link footer-link">Recuperar Senha</a> -->
                </h6>
              </div>

            </div>
          </card>
        </form>
      </ValidationObserver>
      <pre align="left"> {{vx.msg}} </pre>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { extend } from "vee-validate";
import { required, email, min } from "vee-validate/dist/rules";
import vuex from "../../store/index";
import router from "../../routes/router";
import chamada from "../../api/chamada";

extend("email", email);
extend("min", min);

extend("required", required);

export default {
  extends: chamada,
  data() {
    return {
      vx: vuex.state,
      loading: false,
      email: "julia.melo",
      password: "10293847",
      subscribe: true,
    };
  },
  methods: {
    async logar() {
      this.loading = true
      // this.vx.usuario.userbase = this.email + ":" + this.password;
      // this.vx.usuario.userbase = window.btoa(this.vx.usuario.userbase);

      let rs = await this.post({
        rota: "login.php",
        parametros: {},
      });

      if (rs.status === true) {
        this.loading = false
        try {
          this.vx.usuario.token = rs.data.token;
          this.vx.login = rs.data.info;
          this.vx.menu = this.vx.login.menu;
          
          // NAVEGA PARA DASH
          setTimeout(() => {
            router.push("/dashboard");
          }, 100);
        } catch (error) {
          this.loading = false
          alert(error);
          console.log(error);
        }

      } else {
        this.loading = false
        this.vx.msg = rs
        console.log("Status False ->" + JSON.stringify(rs));
        // this.vx.msg = rs.data.msg;
      }
    },
  },
};
</script>
<style>
.navbar-nav .nav-item p {
  line-height: inherit;
  margin-left: 5px;
}
</style>
