<template>
  <div>
		<!-- <pre align="left"> {{page}}, {{vx.page}}</pre> -->

    <div class="md-form mt-0">
      <label >Quantidade: {{qtd}}</label>
      <input class="form-control" type="text" v-model="search" @input="buscas" placeholder="Busque algo aqui..." />
    </div>
    <itable v-if="vx.resultado === '' " :cabecalho="res" :dados="vx.descartes.dados.data" />
		<itable v-if="vx.resultado !== '' " :cabecalho="res" :dados="vx.resultado" />
		<div @click="paginar()">
    <base-pagination :page-count="vx.page" v-model="page"  ></base-pagination>
		</div>
  </div>
</template>

<script>
import vuex from "../../../store/index";
import chamada from "../../../api/chamada";
import itable from "../componentes/itable";
import filtro from '../componentes/filtro'
import { BasePagination } from "src/components";

export default {
  extends: chamada,
  components: {
    itable,
		BasePagination,
		filtro
  },

  data() {
    return {
      vx: vuex.state,
      res: null,
			search: "",
			page: 1,
			qtd: "",
			teste: "",
			resultado: ""
    };
  },
  mounted() {
    try {
			this.vx.resultado = ""
      this.buscaDescartes();
      // console.log(this.res);
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
		teste1(dados) {
			console.log(dados)
			// alert("AAAAAA")
		},
    async buscas() {
      let rs = await this.post({
        rota: "/operacao/descartes.php",
        parametros: {
					op: "list",
					pesquisa: this.search,
					page: this.page
				},
      });      
			this.qtd = rs.qtd
			this.vx.page = rs.pages
			this.vx.resultado = rs.data
		},
		paginar() {
			this.buscas();
			console.log("fez request")
		},
    async buscaDescartes() {
      let rs = await this.post({
        rota: "/operacao/descartes.php",
        parametros: {},
      });

      this.vx.descartes = rs.data;
      this.qtd = rs.data.dados.qtd;
      this.res = this.vx.descartes.struct.grid.fields;
      console.log(this.res);
    },
  },
};
</script>

<style>
</style>