<template>
  <div>
    <!-- SPINNER -->
    <img
      class="content central text-center"
      v-if="loading"
      src="../../../assets/images/spinner.gif"
    />

    <div v-if="!loading">
      <div class="md-form mt-0">
        <!-- QUANTIDADE DE ITEMS -->
        <!-- <label class="blink_me">Quantidade: {{ qtd }}</label> -->

        <!-- INPUT DE BUSCA -->
        <ibusca :quant="qtd" :value="mac" @input="teste1" />

        <!-- <input
          class="form-control"
          type="text"
          v-model="search"
          @input="buscas"
          placeholder="Busque algo aqui..."
        /> -->
      </div>

      <!-- TABELA -->
      <itable
        v-if="resultado && vx && vx.estoque && vx.estoque.dados"
        :cabecalho="res"
        :dados="vx.estoque.dados.data"
      />

      <!-- PAGINAÇÃO -->
      <div @click="paginar()">
        <base-pagination :page-count="vx.page" v-model="page"></base-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import vuex from "../../../store/index";
import chamada from "../../../api/chamada";
import itable from "../componentes/itable";
import ibusca from "../componentes/ibusca";
import { BasePagination } from "src/components";

export default {
  extends: chamada,
  components: {
    itable,
    BasePagination,
    ibusca,
  },

  data() {
    return {
      mac: "",
      to: null,
      vx: vuex.state,
      res: null,
      search: "",
      page: 1,
      qtd: "",
      teste: [],
      resultado: "nada",
      loading: false,
    };
  },
  mounted() {
    this.vx.resultado = "";
    this.buscaEstoque();
  },
  methods: {
    teste1() {
      try {
        console.log(this.mac);
      } catch (error) {
        console.log(error);
      }

      console.log("passei no teste1");
    },
    // CHAMADAS
    async buscaEstoque() {
      this.loading = true;
      let rs = await this.post({
        rota: "/operacao/estoque.php",
        parametros: {},
      });
      if ((rs.status = true)) {
        this.loading = false;
        this.vx.estoque = rs.data;
        this.resultado = true;
        this.qtd = rs.data.dados.qtd;
        this.vx.page = rs.data.dados.pages;
        this.res = this.vx.estoque.struct.grid.fields;
      } else {
        this.loading = false;
        alert(JSON.stringify(rs));
      }
    },
    async buscas() {
      if (this.to) {
        clearTimeout(this.to);
      }
      this.to = setTimeout(() => {
        this.page = 1;
        this.buscasaux();
      }, 1000);
    },

    async buscasaux() {
      this.loading = true;
      let rs = await this.post({
        rota: "/operacao/estoque.php",
        parametros: {
          pesquisa: this.search,
          page: this.page,
        },
      });
      if ((rs.status = true)) {
        this.loading = false;
        try {
          this.vx.page = rs.data.dados.pages;
          this.vx.estoque = rs.data;
          this.resultado = rs.data.dados.data;
          this.qtd = rs.data.dados.qtd;
        } catch (error) {
          console.log(error);
        }
      } else {
        this.loading = false;
      }
      this.teste = rs;
    },
    // PAGINAÇÃO
    paginar() {
      this.buscasaux();
      console.log("fez request");
    },
  },
};
</script>

<style>
.blink_me {
  animation: blinker 1s linear infinite;
}
.central {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.table > tbody > tr > td,
.el-table table > tbody > tr > td {
  color: rgb(255, 255, 255) !important;
}
</style>