<template>
  <div class="md-form mt-0">
    <button @click="oi">veja</button>
    <label v-if="qtd === ''">Quantidade: {{qtd}}</label>
    <input class="form-control" type="text" placeholder="Busque algo aqui..." />
  </div>
</template>

<script>
export default {
  data() {
    return {
      qtd: vx.qtd,
    };
  },
  methods: {
    oi() {
      this.$emit("buscas");
    },
    buscas(rota) {
      console.log(rota);
    },
  },
  props: {
    Sqtd: String,
    inpumodel: String,
    buscador: Function,
  },
};
</script>

<style>
</style>