<template>
  <div>
    <div class="md-form mt-0">
      <!-- QUANTIDADE DE ITEMS -->
      <label class="blink_me">Quantidade: {{ quant }}</label>

      <!-- INPUT DE BUSCA -->
      <input
        class="form-control"
        type="text"
        v-model="value2"
        @input="buscas"
        placeholder="Busque algo aqui..."
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
			value2: this.value,
      to: null,
    };
  },
  props: {
		value: String,
		quant: String
  },
  methods: {
    buscas(evt) {
      console.log("bateu no buscas ->", evt.data);
      try {
        if (this.to) {
          clearTimeout(this.to);
        }
        this.to = setTimeout(() => {
          this.$emit("input", evt.data);
				}, 1000);
				console.log("passei no  try")
      } catch (error) {
				console.log(error)
			}
    },
  },
};
</script>

<style>
</style>