<template>
  <div v-if='cabecalho'>
    <table class="table">
      <thead>
        <tr>
          <th
            v-for="(item,idx) in cabecalho.filter( (x) => {return x.type !== 'hidden'}) || ''"
            :key="'w' + idx"
            
          >{{item.label}}</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(item1,idx1) in dados" :key="'x' + idx1">
          <td
            class="col"
            v-for="(item,idx) in cabecalho.filter( (x) => {return x.type !== 'hidden'})"
            :key="'z' + idx"
            :style="'width:' + item.width + 'px'"
          >{{item1[item.key]}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</template>

<script>
export default {
  data() {
    return {
      cabeçalho: []
    }
  },
  props: {
    dados: Array,
    // width: String,
    cabecalho: Array,
  },
};
</script>

<style>
</style>